<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">src</directory>
    <directory suffix=".php">src/Formatter</directory>
    <directory suffix=".php">src/Formatter/Locale</directory>
    <directory suffix=".php">src/Hook</directory>
  </whitelist>
</filter>
</phpunit>